// The key to the border system is TRBL where 0 is where you are heading.
// The same goes for color because you are just filling in the opposite of where you are heading
$bgColor: #555;
$txtColor: #FFF;
$borderRadius: 5px 5px 5px 5px;
$padding: 5px 5px 5px 5px;
$padding: 5px;
$animDuration: .5s;
$fontSize: 14px;
$smWidth: 75px;
$width: 150px;
$height: 40px;
$lgWidth: 300px;
$arrowLength: 12px;
$pointerWidth: 10px;
$pointerLength: 20px;

[data-tip] {
  position: relative;
  &:before,
  &:after {
    box-sizing: border-box;
    transition: all $animDuration ease 0s;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    left: 50%;
  }
  &:before {
    font-size: $fontSize;
    content: attr(data-tip-content);
    background: $bgColor;
    color: $txtColor;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border-radius: $borderRadius;
    padding: $padding;
  }
  &:after {
    content: "";
    border-style: solid;
    border-color: transparent;
    margin-left: -($pointerWidth);
  }
  &:hover,
  &.show {
    &:before,
    &:after {
      visibility: visible;
      opacity: 1;
    }
  }
  &.top,
  &.bottom {
    &.top {
      &:before {
        bottom: 100%;
        margin-bottom: $pointerLength;
      }
      &:after {
        border-width: $pointerLength $pointerWidth 0 $pointerWidth;
        bottom: 100%;
        border-top-color: $bgColor;
      }
    }
    &.bottom {
      &:before {
        top: 100%;
        margin-top: $pointerLength;
      }
      &:after {
        top: 100%;
        border-width: 0 $pointerWidth $pointerLength $pointerWidth;
        border-bottom-color: $bgColor;
      }
      &.right {
        &:after {
          border-width: 0 $pointerWidth $pointerLength 0;
        }
      }
      &.left {
        &:after {
          border-width: 0 0 $pointerLength $pointerWidth;
        }
      }
    }
    &:before {
      width: $width;
      margin-left: -($width / 2);
    }
    &.small {
      &:before {
        width: $smWidth;
        margin-left: -($smWidth / 2);
      }
    }
    &.large {
      &:before {
        width: $lgWidth;
        margin-left: -($lgWidth / 2);
      }
    }
    &.right {
      &:before {
        left: 100%;
        margin-left: -($pointerWidth + $padding);
      }
      &:after {
        left: 100%;
        margin-left: -$pointerWidth;
        border-width: $pointerLength $pointerWidth 0 0;
      }
    }
    &.left {
      &:before {
        left: -$width;
        margin-left: $pointerWidth + $padding;
      }
      &:after {
        left: 0;
        margin-left: 0;
        border-width: $pointerLength 0 0 $pointerWidth;
      }
      &.small {
        &:before {
          left: -$smWidth;
        }
      }
      &.large {
        &:before {
          left: -$lgWidth;
        }
      }
    }
  }
}
