@bgColor: #555;
@txtColor: #FFF;
@borderRadius: 5px 5px 5px 5px;
@padding: 5px 5px 5px 5px;
@animDuration: .5s;
@fontSize: 16px;
@smWidth: 75px;
@smHeight: 20px;
@width: 150px;
@height: 40px;
@lgWidth: 300px;
@lgHeight: 100px;
@arrowLength: 12px;

[data-tip] {
  position: relative;
  &:before,
  &:after {
    box-sizing: border-box;
    transition: all @animDuration ease 0s;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
  }
  &:before {
    font-size: @fontSize;
    content: attr(data-tip-content);
    background: @bgColor;
    color: @txtColor;
    text-align: center;
    border-radius: @borderRadius;
    padding: @padding;
  }
  &:after {
    content: "";
  }
  &:hover,
  &.show {
    &:before,
    &:after {
      visibility: visible;
      opacity: 1;
    }
  }
  &.top,
  &.bottom {
    &.top {
      &:before {
        bottom: 100%;
        margin-bottom: @arrowLength;
      }
      &:after {
        bottom: 100%;
        margin-bottom: -(@arrowLength);
        border-top: @arrowLength solid @bgColor;
      }
    }
    &.bottom {
      &:before {
        top: 100%;
        margin-top: @arrowLength;
      }
      &:after {
        top: 100%;
        margin-top: -(@arrowLength);
        border-bottom: @arrowLength solid @bgColor;
      }
    }
    &:before {
      left: 50%;
      width: @width;
      margin-left: -(@width / 2);
    }
    &:after {
      left: 50%;
      margin-left: -(@arrowLength);
      border: @arrowLength solid transparent;
    }
    &.small {
      &:before {
        width: @smWidth;
        margin-left: -(@smWidth / 2);
      }
    }
    &.large {
      &:before {
        width: @lgWidth;
        margin-left: -(@lgWidth / 2);
      }
    }
  }
  &.left,
  &.right {
    &:before {
      top: 50%;
      width: @width;
      height: @height;
      margin-top: -(@height / 2);
    }
    &:after {
      top: 50%;
      margin-top: -(@arrowLength);
      border: @arrowLength solid transparent;
    }
    &.right {
      &:before {
        left: 100%;
        margin-left: @arrowLength;
      }
      &:after {
        left: 100%;
        margin-left: -(@arrowLength);
        border-right: @arrowLength solid @bgColor;
      }
    }
    &.left {
      &:before {
        right: 100%;
        margin-right: @arrowLength;
      }
      &:after {
        right: 100%;
        margin-right: -(@arrowLength);
        border-left: @arrowLength solid @bgColor;
      }
    }
    &.small {
      &:before {
        width: @smWidth;
        height: @smHeight;
        margin-top: -(@smHeight / 2);
      }
    }
    &.large {
      &:before {
        width: @lgWidth;
        height: @lgHeight;
        margin-top: -(@lgHeight / 2);
      }
    }
  }
}
