doctype
head
  title tips | jh3y
  meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1.0")
  link(href='http://fonts.googleapis.com/css?family=Droid+Serif', rel='stylesheet')
  link(rel="stylesheet", href="css/tips.min.css")
  style.
    body {
      font-family: 'Droid Serif', serif;
    }
    .center {
      text-align: center;
    }
    code,
    a {
      color: #E74C3C;
      text-decoration: none;
    }
    .container {
      padding: 30px;
    }
    ol {
      display: inline-block;
      padding: 0;
      text-align: left;
    }
    h1 {
      width: 200px;
      margin: 100px auto;
    }
    #desktop {
      display: none;
    }
    #mobile {
      display: block;
    }
    #content {
      font-size: .75rem;
      opacity: 0;
      transition: opacity: 75s ease 0s;
      -webkit-transition: opacity .75s ease 0s;
    }
    @media(min-width: 768px) {
      ol {
        text-align: center;
      }
      #desktop {
        display: block;
      }
      #mobile {
        display: none;
      }
    }
body
  h1#desktop.tip--top.center(data-tip, data-tip-content="Pure CSS tooltips because tooltips should be simple") Hover me!
  h1#mobile.tip--top.center(data-tip, data-tip-content="Pure CSS tooltips because tooltips should be simple") Tap me!
  #content
    h2.center Tips!
    p.center Tips is a pure CSS solution for tooltips because tooltips should be simple
    .center
      ol
        li Include the stylesheet
        li Add the attribute <code>data-tip</code> to your element
        li Use the attribute <code>data-tip-content</code> to declare tip content
        li Add any helper classes for positioning and/or sizing
    p.center Check out the <a href="https://github.com/jh3y/tips" target="_blank">docs</a>!
    div.center.container
      iframe(src = "http://ghbtns.com/github-btn.html?user=jh3y&repo=tips&type=watch&count=true", allowtransparency="true", frameborder="0", scrolling="0", width="90px", height="20")
      iframe(src = "http://ghbtns.com/github-btn.html?user=jh3y&repo=tips&type=fork&count=true", allowtransparency="true", frameborder="0", scrolling="0", width="90px", height="20")
      iframe(src = "http://ghbtns.com/github-btn.html?user=jh3y&repo=tips&type=follow&count=true", allowtransparency="true", frameborder="0", scrolling="0", width="120px", height="20")
  script.
    var tt = document.getElementById('desktop'),
      ttm = document.getElementById('mobile'),
      content = document.getElementById('content');
    tt.addEventListener('mouseenter', function(event) {
      content.setAttribute('style', 'opacity: 1;');
    });
    ttm.addEventListener('click', function(event) {
      content.setAttribute('style', 'opacity: 1;');
    });
