doctype
head
  title dev: tips
  link(href="css/tips.css", rel="stylesheet")
  style.
    body {
      text-align: center;
    }
body
  header
    h1 tips
  .content
    div
      a.top(data-tip, data-tip-content="Top!") top
    div
      a.right.large(data-tip, data-tip-content="Right!") right
    div
      a.small.bottom(data-tip, data-tip-content="Bottom!") bottom
    div
      a.left(data-tip, data-tip-content="Left!") left
  footer
    p tips &copy; 2014
