doctype
head
  title dev: tip(cs)s
  link(href="css/tipcss.css", rel="stylesheet")
  style.
    body {
      text-align: center;
    }
body
  header
    h1 tip(cs)s
  .content
    div
      a.top(data-tipcss, data-tipcss-content="Top!") top
    div
      a.right(data-tipcss, data-tipcss-content="Right!") right
    div
      a.bottom(data-tipcss, data-tipcss-content="Bottom!") bottom
    div
      a.left(data-tipcss, data-tipcss-content="Left!") left
  footer
    p tip(cs)s &copy; 2014
