mixin tooltip(placement, size, content)
  div
    a(data-tip, data-tip-content=content, class="#{placement} tip--#{size}")= placement

doctype
head
  title dev: tips
  link(href="css/tips.css", rel="stylesheet")
  style.
    body {
      text-align: center;
    }
    div {
      margin: 160px auto;
    }
body
  header
    h1 tips
  .content
    +tooltip('tip--top', '', 'Top!')
    +tooltip('tip--top', 'small', 'Top Small!')
    +tooltip('tip--top', 'large', 'Top Large!')
    +tooltip('tip--top tip--left', '', 'Top Left!')
    +tooltip('tip--top tip--right', '', 'Top Right!')
    +tooltip('tip--top tip--left', 'large', 'Top Left Large!')
    +tooltip('tip--top tip--right', 'large', 'Top Right Large!')
    +tooltip('tip--top tip--left', 'small', 'Top Left Small!')
    +tooltip('tip--top tip--right', 'small', 'Top Right Small!')
    
    +tooltip('tip--bottom', '', 'Bottom!')
    +tooltip('tip--bottom', 'small', 'Bottom Small!')
    +tooltip('tip--bottom', 'large', 'Bottom Large!')
    +tooltip('tip--bottom tip--left', '', 'Bottom Left!')
    +tooltip('tip--bottom tip--right', '', 'Bottom Right!')
    +tooltip('tip--bottom tip--left', 'large', 'Bottom Left Large!')
    +tooltip('tip--bottom tip--right', 'large', 'Bottom Right Large!')
    +tooltip('tip--bottom tip--left', 'small', 'Bottom Left Small!')
    +tooltip('tip--bottom tip--right', 'small', 'Bottom Right Small!')
  footer
    p tips &copy; 2015
